<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% trans %}Multi-Factor-Authentication Status{% endtrans %}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.svg" type="image/svg+xml">
  </head>
  <body>
    <header>
      <img id="logo"src="/static/logo{% if logo %}.{{ logo }}{% endif %}.svg">
    </header>
    <main>
    <h1>{% trans firstname=user.firstname, lastname=user.lastname, title=user.title %}Multi-Factor-Authentication (MFA) for {{ title }} {{ firstname }} {{ lastname }}{% endtrans %}</h1>
    {% if user.active %}
    {% if user.is_enrolled %}
    {% if user.status == "active" %}
    <div class="shield secure"></div>
    <div>{% trans %}Your account is MFA-enabled and you have successfully completed enrollment.{% endtrans %}</div>
    {% else %}
    <div class="shield disabled"></div>
    <div>{% trans %}Your account is MFA-enabled but it has been suspended from MFA due to unknown reasons.{% endtrans %}</div>
    {% endif %}
    {% else %}
    <div class="shield enrollment-missing"></div>
    {% if user.locked %}
    <div>{% trans %}Your account is MFA-enabled but you have not completed your enrollment within a reasonable timeframe. MFA has now been suspended.{% endtrans %}</div>
    {% else %}
    <div>{% trans %}Your account is MFA-enabled but you have not yet completed your enrollment.{% endtrans %}</div>
    {% endif %}
    {% endif %}
    <table>
      <tr>
        <th>
          {% trans %}Status{% endtrans %}
        </th>
        <td>
          {% if user.status == "active" %}
          {% trans %}Active{% endtrans %}
          {% elif user.status == "bypass" %}
          {% trans %}Bypass{% endtrans %}
          {% elif user.status == "disabled" %}
          {% trans %}Disabled{% endtrans %}
          {% elif user.status == "locked out" %}
          {% trans %}Locked out{% endtrans %}
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>
          {% trans %}Last login{% endtrans %}
        </th>
        <td>
          {% if user.last_login %}
          {{ user.last_login|fromtimestamp }}
          {% else %}
          {% trans %}Never{% endtrans %}
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>
          {% trans %}Last synchronization{% endtrans %}
        </th>
        <td>
          {{ user.last_directory_sync|fromtimestamp }}
        </td>
      </tr>
      <tr>
        <th>
          {% trans %}Created{% endtrans %}
        </th>
        <td>
          {{ user.created|fromtimestamp }}
        </td>
      </tr>
      {% if user.phones %}
      <tr>
        <th>
          {% trans %}Phones{% endtrans %}
        </th>
        <td>
          <ul>
            {% for phone in user.phones %}
            {% if phone.activated %}
            <li>{{ phone.model}} ({{ phone.platform }}{% if phone.name %}, {{ phone.name }}{% endif %})</li>
            {% endif %}
            {% endfor %}
          </ul>
        </td>
      </tr>
      {% endif %}
      {% if user.tokens %}
      <tr>
        <th>
          {% trans %}Tokens{% endtrans %}
        </th>
        <td>
          <ul>
            {% for token in user.tokens %}
            <li>{% if token.type == 'd1' %}{% trans %}DUO Token{% endtrans %}{% else %}{% trans %}Unknown model{% endtrans %}{% endif %} ({{ token.serial }})</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      {% endif %}
      {% if user.webauthncredentials %}
      <tr>
        <th>
          {% trans %}WebAuthn{% endtrans %}
        </th>
        <td>
          <ul>
            {% for webauthn in user.webauthncredentials %}
            <li>{{ webauthn.credential_name }} ({{ webauthn.date_added|fromtimestamp }})</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      {% endif %}
    </table>
    {% else %}
    <div class="shield missing"></div>
    <div>{% trans %}Your account is not enabled for MFA.{% endtrans %}</div>
    {% endif %}
    </main>
  </body>
</html>

